<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In With you Student ID</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'signinstyle.css' %}">
</head>
<body>
    <h1>Log In</h1>
    <div class="center">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Log In</button>
        </form>
    <div>
<a href="register">Create an account</a>        
</body>
</html>