<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In With you Student ID</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'signinstyle.css' %}">
</head>
<body>
    <h1>Create your account</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <div class="center">
        <form action="" method="POST">
            {% csrf_token %}
            <p>
                {{ form.username.label_tag }}
                {{ form.username }}
            </p>
            <p>
                {{ form.password.label_tag }}
                {{ form.password }}
            </p>
            <button type="submit">Create</button>
        </form>
    <div>
</body>
</html>