<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Documents</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'signinstyle.css' %}">
</head>
<body>
    <h1>Verify your Documents</h1>
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    {% if auth_message %}
        {{ auth_message }}
    {% endif %}
    </body>
</html>